.StandardButton {
    background-color: #d2e8ff;
    height: 30px;
    width: 65px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.StandardButton:hover {
    background-color: #db0066;
    color: white;
}

.SmallButton {
    background-color: rgb(166, 188, 214);
    height: 30px;
    width: 58px;
    cursor: pointer;
    margin: 2px;
    font-size: 13.5px;
    border-radius: 5px;
}

.SmallButton:hover {
    background-color: #db0066;
    color: white;
}

.ShiftSmallButton {
    background-color: #ffff00;
    height: 30px;
    width: 58px;
    cursor: pointer;
    margin: 2px;
    font-size: 13.5px;
    border-radius: 5px;
}

.ShiftSmallButton:hover {
    background-color: #db0066;
    color: white;
}

.DelButton {
    background-color: #ff8000;
    height: 30px;
    width: 65px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.DelButton:hover {
    background-color: #000000;
    color: #ffff00;
    font-weight: bold;
}

.ModeButton {
    background-color: #66db00;
    height: 30px;
    width: 65px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.ModeButton:hover {
    background-color: #db0066;
    color: white;
}

.ShiftModeButton {
    background-color: #db0066;
    height: 30px;
    width: 65px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.ShiftModeButton:hover {
    background-color: white;
    color: #DB0066;
}